<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron"> <p>
SFIS (School for the Future of Innovation in Society) Tarot deck for Anticipatory Governance of Emerging Technologies
<br><br>
This ASU Oracle brings prophecies inspired by the original Tarot cards to provoke us to rethink the implications of various emerging technologies and understand the value of anticipatory governance. The algorithmic responses of this STS Pythia offer rich, at times funny and surprising socio-technical scenarios, through which we can express the public expectations, but also fears and imagination about the future. The SFIS Tarot can serve as a tool for a solemn meditation, but also as a forecasting tool for brainstorming, public deliberation, scenario development or even as engagement exercise.

<p><img id="gen-img" src="CBD_web/a01.jpg"></p>
<p><input type="button" value="Random" onclick="imgchange();" /></p>
</p></div>
</div>
</body>
</html>

